<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety Shoe Check-in</title>
<style>
.container {
    position: relative;
    text-align: center;
}    
.centered {
    position: absolute;
    top: 55.5%;
    left: 36.5%;
    width: 310px;
    height: 40px;

}
</style>
</head>
<body>
<div class="container centered"  style="z-index: -2" display="block"> Thank you </div>   
{% block content %}

{% endblock %}   
<script>
    
</script>

</body>
</html>

<!-- $("#btn_id").click(function(e){
    $('#note').fadeIn();
});

$("#close").click(function(e){
    $('#note').fadeOut();
}); -->