<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety Shoe Check-in</title>
<style>
.container {
    position: relative;
    text-align: center;
}    
.centered {
    position: absolute;
    top: 55%;
    left: 42%;
    width: 400px;
    height: 150px;

}
</style>
</head>
<body>
    <div class="container">
        <img src='{{url_for("static", filename="img/interface.png")}}'> 
        <div class="centered">
            <form action >
                <textarea type="text" placeholder="Badge Number" style="position: relative; text-align: center;"></textarea>
            </form>
        </div>
</div>   
</body>
</html>